<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">Login</h1>
        <p class="text-color-secondary mb-4">Welcome to the <strong>Verona Community</strong>, where the magic happens, sign in to continue.</p>
        <!-- <div class="card">
            <button type="button" pButton pRipple  label="Show" class="mr-2"></button>
            <button type="button" pButton pRipple (click)="clearMessages()" icon="pi pi-times" label="Clear" class="p-button-secondary"></button>
            <p-messages [(value)]="messages"[enableService]="false" [closable]="false"></p-messages>
        </div> -->
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

        <form  method="POST" name="form" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-column w-full">
                <span class="p-input-icon-left mb-4">
                    <i class="pi pi-user"></i>
                    <input type="text" formControlName="username" pInputText placeholder="Username" class="w-full" value="admin">
                </span>

                <span class="p-input-icon-left mb-4">
                    <i class="pi pi-key"></i>
                    <input type="password" formControlName="password" pInputText placeholder="Password" class="w-full" value="123456">
                </span>

                <button type="submit" (click)="onSubmit()" pButton pRipple label="ล๊อกอิน เข้าใช้งาน" class="mb-4"></button>
                <!-- <button type="submit" (click)="loginBypass()" pButton pRipple label="ล๊อกอิน เข้าใช้งาน" class="mb-4"></button> -->

            </div>
        </form>

        <span class="text-color-secondary text-center mb-4">ยังไม่มีรหัสผู้ใช้งาน กรุณาลงทะเบียนด้านล่าง</span>

        <button [routerLink]="['/auth/register']" pbutton pripple type="button" label="ลงทะเบียนผู้ใช้งาน"
            class="p-element p-ripple p-button-outlined p-button-help p-button p-component">
            <span class="p-button-label">ลงทะเบียนผู้ใช้งาน</span>
            <span class="p-ink" aria-hidden="true" role="presentation">
            </span>
        </button>
        <br>

        <span class="text-color-secondary text-center mb-4">หากท่าน คลิกลืมรหัสเข้าใช้งาน</span>
        <button [routerLink]="['/auth/forgotpassword']" pbutton pripple type="button" label="ลงทะเบียนผู้ใช้งาน"
            class="p-element p-ripple p-button-outlined p-button-warning p-button p-component">
            <span class="p-button-label">ลืมรหัสเข้าใช้งาน</span>
            <span class="p-ink" aria-hidden="true" role="presentation">
            </span>
        </button>
        <br>

        <span class="text-color-secondary text-center mb-4">or sign in with below</span>

        <div class="flex gap-4 align-items-center justify-content-center">
            <a href="https://www.facebook.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-facebook text-2xl text-color"></i>
            </a>
            <a href="https://www.twitter.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-twitter text-2xl text-color"></i>
            </a>
            <a href="https://www.google.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-google text-2xl text-color"></i>
            </a>
            <a href="https://www.github.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-github text-2xl text-color"></i>
            </a>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>
