<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">Register</h1>
        <p class="text-color-secondary mb-4">Welcome to the <strong>Verona Community</strong>, where the magic happens, sign up to continue.</p>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="ชื่อสกุล" class="w-full">         
        </span>
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-phone"></i>
            <input type="text" pInputText placeholder="Mobile" class="w-full">         
        </span>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="รหัสผู้ใช้งาน" class="w-full">         
        </span>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-key z-2"></i>
            <p-password id="password" placeholder="รหัสผ่านผู้ใช้งาน" styleClass="w-full" [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" ></p-password>   
        </span>

        <button [routerLink]="['/']" pButton pRipple label="บันทึกลงทะเบียน" class="mb-4"></button>

        <span class="text-color-secondary text-center mb-4">เคยลงทะเบียนแล้ว ไปหน้าล๊อกอิน</span>
        <button [routerLink]="['/auth/login']" pbutton pripple type="button" label="ลงทะเบียนผู้ใช้งาน"
            class="p-element p-ripple p-button-outlined p-button-help p-button p-component">
            <span class="p-button-label">ไปหน้าล๊อกอิน</span>
            <span class="p-ink" aria-hidden="true" role="presentation">
            </span>
        </button>
        <br>

        

        <span class="text-color-secondary text-center mb-4">or sign up with below</span>

        <div class="flex gap-4 align-items-center justify-content-center">
            <a href="https://www.facebook.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-facebook text-2xl text-color"></i>
            </a>
            <a href="https://www.twitter.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-twitter text-2xl text-color"></i>
            </a>
            <a href="https://www.google.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-google text-2xl text-color"></i>
            </a>
            <a href="https://www.github.com" class="inline-flex flex-shrink-0 w-3rem h-3rem justify-content-center align-items-center surface-ground border-circle">
                <i class="pi pi-github text-2xl text-color"></i>
            </a>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>