<div class="grid mx-8">

    <div class="col-12 md:col-3 lg:col-4 w-full ">
        <div class="card">
            <h5>เลือกการรักษา</h5>
            <div class="flex flex-wrap align-items-center justify-content-around gap-7 ">

                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center text-center w-4rem h-4rem bg-red-100 border-3 border-red-300 border-circle relative hover:bg-red-200 hover:shadow-4" >
                        <!-- <img src="assets/demo/images/avatar/amyelsner.png" class="border-circle h-3rem w-3rem"> <i class="fa-solid fa-tooth"></i>-->
                        <!-- <img src="assets/demo/images/avatar/amyelsner.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-solid fa-heart-pulse  text-center text-red-600 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-globe text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">หัวใจ</span>
                    <span class="text-color-secondary text-sm">2m ago</span>
                </div>
                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-indigo-100 border-3 border-indigo-300 border-circle relative  hover:bg-indigo-200 hover:shadow-4">
                        <!-- <img src="assets/demo/images/avatar/annafali.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-solid fa-tooth  text-center text-indigo-500 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-apple text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">ถอนฟัน</span>
                    <span class="text-color-secondary text-sm">1h ago</span>
                </div>

                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-green-100 border-3 border-green-300 border-circle relative  hover:bg-green-200 hover:shadow-4">
                        <!-- <img src="assets/demo/images/avatar/annafali.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-regular fa-eye  text-center text-green-500 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-apple text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">ขูดหินปูน</span>
                    <span class="text-color-secondary text-sm">1h ago</span>
                </div>


                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-purple-100 border-3 border-purple-300 border-circle relative  hover:bg-purple-200 hover:shadow-4">
                        <!-- <img src="assets/demo/images/avatar/annafali.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-solid fa-x-ray  text-center text-purple-500 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-apple text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">ถอนฟัน</span>
                    <span class="text-color-secondary text-sm">1h ago</span>
                </div>

                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-pink-100 border-3 border-pink-300 border-circle relative  hover:bg-pink-200 hover:shadow-4">
                        <!-- <img src="assets/demo/images/avatar/annafali.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-solid fa-user-doctor  text-center text-pink-500 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-apple text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">ถอนฟัน</span>
                    <span class="text-color-secondary text-sm">1h ago</span>
                </div>

                <div class="flex flex-column align-items-center justify-content-center cursor-pointer " (click)="calendar()">
                    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-yellow-100 border-3 border-yellow-300 border-circle relative  hover:bg-yellow-200 hover:shadow-4">
                        <!-- <img src="assets/demo/images/avatar/annafali.png" class="border-circle h-3rem w-3rem"> -->
                        <span class="flex align-items-center justify-content-center text-center">
                            <i class="fa-solid fa-pills  text-center text-yellow-500 mx-auto my-auto" style="font-size: 32px;margin: auto;"></i>
                        </span>
                        <span class="absolute top-0 surface-card border-circle flex align-items-center justify-content-center" style="right: -.75rem; width: 1.5rem; height: 1.5rem">
                            <i class="pi pi-apple text-sm"></i>
                        </span>
                    </div>
                    <span class="font-bold">ถอนฟัน</span>
                    <span class="text-color-secondary text-sm">1h ago</span>
                </div>
                
            </div>
        </div>

    </div>
</div>
