<div class="card">
    <full-calendar [options]="calendarOptions"></full-calendar>

    <p-dialog #dd [(visible)]="showDialog" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '36rem'}" [modal]="true" [closable]="true" (onHide)="view = ''">
        <ng-template pTemplate="header">
            <span class="text-900 font-semibold text-xl">{{view === 'display' ? changedEvent.title : view === 'new' ? 'New Event' : 'Edit Event'}}</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div *ngIf="view === 'display'">
                <span class="text-900 font-semibold block mb-2">Description</span>
                <span class="block mb-3">{{changedEvent.description}}</span>

                <div class="grid">
                    <div class="col-6">
                        <div class="text-900 font-semibold mb-2">Start</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{changedEvent.start.toISOString().slice(0,10)}}</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="text-900 font-semibold mb-2">End</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{changedEvent.end.toISOString().slice(0,10)}}</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="text-900 font-semibold mb-2">Location</div>
                        <p class="flex align-items-center m-0">
                            <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                            <span>{{changedEvent.location}}</span>
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="text-900 font-semibold mb-2">Color</div>
                        <p class="flex align-items-center m-0">
                            <span class="inline-flex flex-shrink-0 w-1rem h-1rem mr-2 border-circle" [style.backgroundColor]="changedEvent.tag.color"></span>
                            <span>{{changedEvent.tag.name}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="view !== 'display'">
                <div class="grid p-fluid formgrid">
                    <div class="col-12 md:col-6 field">
                        <label for="title" class="text-900 font-semibold">ชื่อ-นามสกุล คนนัด</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-pencil"></i>
                            <input id="title" type="text" pInputText placeholder="ชื่อ-นามสกุล" [(ngModel)]="changedEvent.title" />
                        </span>
                    </div>
                    <div class="col-12 md:col-6 field">
                        <label for="location" class="text-900 font-semibold">เบอร์โทรศัพท์</label>
                        <span class="p-input-icon-left">
                            <i class="pi pi-map-marker"></i>
                            <input id="location" type="text" pInputText placeholder="เบอร์โทรศัพท์" [(ngModel)]="changedEvent.location" />
                        </span>
                    </div>
                    <div class="col-12 field">
                        <label for="description" class="text-900 font-semibold">ต้องการนัดอะไร</label>
                        <textarea id="description" type="text" pInputTextarea [rows]="5" [(ngModel)]="changedEvent.description" style="resize: none"></textarea>
                    </div>

                    <div class="col-12 md:col-6 field">
                        <label for="start" class="text-900 font-semibold">วันที่</label>
                        <p-calendar [appendTo]="dd" dateFormat="mm-dd-yy" [maxDate]="changedEvent.end" [showTime]="true" [required]="true" inputId="start" [(ngModel)]="changedEvent.start" [disabled]="true"></p-calendar>
                    </div>
                    <!-- <div class="col-12 md:col-6 field">
                        <label for="start" class="text-900 font-semibold">End Date</label>
                        <p-calendar [appendTo]="dd" dateFormat="mm-dd-yy" [minDate]="changedEvent.start" [showTime]="true" [required]="true" inputId="end" [(ngModel)]="changedEvent.end"></p-calendar>
                    </div> -->
                    <div class="col-12 field">
                        <label for="company-color" class="text-900 font-semibold">เลือกสีปฏทิน</label>
                        <p-dropdown inputId="company-color" [appendTo]="dd" [options]="tags" [(ngModel)]="changedEvent.tag" optionLabel="name">
                            <ng-template pTemplate="selectedItem">
                                <div *ngIf="changedEvent.tag" class="flex align-items-center">
                                    <div class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle" [style.backgroundColor]="changedEvent.tag.color"></div>
                                    <div>{{changedEvent.tag.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-tag pTemplate="item">
                                <div class="flex align-items-center">
                                    <div class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle" [style.backgroundColor]="tag.color"></div>
                                    <div>{{tag.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton *ngIf="view === 'display'" label="Editx" icon="pi pi-pencil" (click)="onEditClick()"></button>
            <button pButton *ngIf="view === 'new' || view === 'edit'" label="Save" icon="pi pi-check" (click)="handleSave()" [disabled]="!changedEvent.start || !changedEvent.end"></button>
        </ng-template>
    </p-dialog>
</div>
