<div class="card bg-card w-full">
    <div class="card-title">
        <div class="text-center text-color-secondary">
            <span class="mr-2 text-2xl" >รายการคลินิก</span>

        </div>
    </div>
    <div class="card-boby">
        <p-table [value]="clinics" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:72px;">            <button type="button" pButton pRipple icon="pi pi-plus" class="mr-2 p-button-raised p-button-rounded p-button-success" (click)="displayFormAdd()"></button></th>
                    <th>ชื่อคลินิก</th>
                    <th style="width:160px;">สถานะการใช้งาน</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-clinic>
                <tr>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-pencil" class="mr-2 p-button-warning p-button-raised" (click)="displayFormEdit(clinic)"></button>

                    </td>
                    <td>{{clinic.service_name}}</td>
                    <td>
                        <button *ngIf="!clinic.is_active" type="button" pButton pRipple icon="pi pi-times-circle" class="mr-2 p-button-danger p-button-raised" (click)="enable(clinic.service_id)"><span class="pl-2">ปิดใช้งาน</span></button>
                        <button *ngIf="clinic.is_active" type="button" pButton pRipple icon="pi pi-check-circle" class="mr-2 p-button-success p-button-raised" (click)="disable(clinic.service_id)"><span class="pl-2">เปิดใช้งาน</span></button>
                    </td>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="displayForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <span *ngIf="isAdd">เพิ่มคลินิก</span>
        <span *ngIf="isEdit">แก้ไขคลินิก</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="isAdd" class="p-fluid">
            <div class="p-field">
                <label for="service_name">ชื่อคลินิก</label>
                <input type="text" id="service_name" [(ngModel)]="clinicName" pInputText>
            </div>
        </div>
        <div *ngIf="isEdit" class="p-fluid">
            <div class="p-field">
                <label for="service_name">ชื่อคลินิก</label>
                <input type="text" id="service_name" [(ngModel)]="clinicNameEdit" pInputText>
            </div>
            <div class="p-field">
                <label for="service_name">สถานะการใช้งาน</label>
                <div class="p-formgroup-inline">
                    <p-inputSwitch [(ngModel)]="clinicActiveEdit"></p-inputSwitch>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button *ngIf="isAdd" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="save()" label="เพิ่มรายการ"></button>
        <button *ngIf="isEdit" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="update()" label="บันทึกแก้ไข"></button>
    </ng-template>
</p-dialog>
